<h1>
  Add a new search
</h1>


<hr>

<!-- Form search start -->
<form action="/create_search" method="post">
<!-- Form search end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for city start -->
  <div class="form-group">
    <label for="city">
      City
    </label>

    <!-- Input for city start -->
    <input type="text" id="city" name="city" class="form-control">
    <!-- Input for city end -->
  </div>
  <!-- Label and input for city end -->

  <!-- Label and input for start_date start -->
  <div class="form-group">
    <label for="start_date">
      Start date
    </label>

    <!-- Input for start_date start -->
    <input type="text" id="start_date" name="start_date" class="form-control">
    <!-- Input for start_date end -->
  </div>
  <!-- Label and input for start_date end -->

  <!-- Label and input for end_date start -->
  <div class="form-group">
    <label for="end_date">
      End date
    </label>

    <!-- Input for end_date start -->
    <input type="text" id="end_date" name="end_date" class="form-control">
    <!-- Input for end_date end -->
  </div>
  <!-- Label and input for end_date end -->

  <button class="btn btn-block btn-outline-secondary">
    Create search
  </button>
</form>

<hr>

<a href="/searches">
  Go back
</a>
