<h1>
  Edit listing #<%= @listing.id %>
</h1>

<hr>

<form action="/update_listing/<%= @listing.id %>" method="post">

  <div class="form-group">
    <label for="lister">
      Lister
    </label>

    <input type="text" id="lister" name="lister" class="form-control" value="<%= @listing.lister %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update listing
  </button>
</form>

<hr>

<a href="/listings">
  Go back
</a>
