<h1>
  Add a new listing
</h1>


<hr>

<form action="/create_listing" method="post">

  <div class="form-group">
    <label for="lister">
      Lister
    </label>

    <input type="text" id="lister" name="lister" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create listing
  </button>
</form>

<hr>

<a href="/listings">
  Go back
</a>
